.app {
  display: flex;
  flex-direction: column;
}


.spinner {
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 800px) {
  .spinner {
    min-height: 255px;
  }

}
