html, body, .app, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner {
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 800px) {
  .spinner {
    min-height: 255px;
  }
}

.cities {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.weather-item {
  background: black;
  color: white;
  padding: 5px;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  text-align: center;
}

.weather-city__name {
  text-transform: capitalize;
}

.main-city {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  min-height: 450px;
  animation: 0.5s ease-out 0s 1 slideIn;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.main-city_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 90%; */
  padding-bottom: 25px;
}

h1.main-city__name {
  margin-bottom: 0;
}

.main-city__desc {
  text-transform: capitalize;
}

.main-city__temp {
  font-size: 24px;
}

.main-city__conditions {
  /* width: 90%; */
  margin-left: 20px;
  margin-right: 20px;
}

.main-city__info {
  min-height: 50px;
  border-top: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
}

.main-city__info > div {
  flex: 1;
}

.main-city__info:last-child {
  border-bottom: 1px solid #d9d9d9;
}

.main-city__info .heading {
  text-transform: uppercase;
  font-size: 11px;
  color: gray;
}

@media all and (min-width: 800px) {
  .main-city_header,
  .main-city__conditions {
    /* width: 50%; */
    flex: 1 90%;
    margin-top: 20px;
    margin-right: 20px;
  }

  .main-city {
    flex-direction: row;
    min-height: 255px;
  }
}
